body {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar {
  border-radius: 10px;
  text-align: center;
  height: fit-content;
  max-height: 600px;
  margin: 8px;
}

.sidebar_top > a {
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

.sidebar_top > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding-bottom: 4px;
}

.sidebar_topAvatar {
  font-size: 40px;
}

.sidebar_topAvatar-2x {
  font-size: 40px !important;
  margin-top: -20px;
}

.sidebar_topAvatar_img {
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  margin-top: -20px;
}

.sidebar_stats {
  padding: 10px;
  margin-bottom: 4px;
  border: 1px solid lightgray;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar_stat {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
}

.sidebar_stat > p {
  color: gray;
  font-size: 13px;
  font-weight: 600;
  margin: 4px 0 0;
}

.sidebar_statNumber {
  font-weight: bold;
  color: #0a66c2 !important;
  margin: 0;
}

.sidebar_top > a > h4 {
  color: gray;
  font-size: 12px;
  margin-top: 5px;
}

.sidebar_top > a > h2 {
  font-size: 18px;
}

.sidebar_bottom {
  display: none;
}

.feed {
  margin: 8px;
  height: auto;
}

.feed_inputContainer {
  background-color: white;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.feed_input {
  display: flex;
  flex-direction: row;
}

.feed_input_icon {
  width: 24px;
  height: 24px;
  border-radius: 50% !important;
  flex: 0 1 24px;
  font-size: 24px !important;
  margin: auto 0;
}

.feed_input_text {
  border: 1px solid lightgray;
  border-radius: 16px;
  display: flex;
  padding: 8px;
  flex: 1 0;
  color: gray;
  padding-left: 12px;
  margin-left: 8px;
  font-weight: 500;
  text-align: left;
}

.feed_input_text > form > button {
  display: none;
}

.feed_inputOptions {
  display: flex;
  justify-content: space-between;
}

.inputOption {
  display: flex;
  align-items: center;
  margin-top: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.inputOption:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

.inputOption > h4 {
  margin: 0 0 0 4px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.widgets {
  display: none;
}

.modal-header {
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .sidebar {
    flex: 0.4;
    position: sticky;
    top: 80px;
  }

  .sidebar_top > a {
    padding-bottom: 10px;
  }

  .sidebar_bottom {
    display: block;
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
  }

  .sidebar_recentItem {
    display: flex;
    font-size: 13px;
    color: gray;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
  }

  .sidebar_recentItem:hover {
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    color: black;
  }

  .sidebar_hash {
    margin-right: 10px;
    margin-left: 10px;
  }

  .sidebar_bottom > p {
    font-size: 14px;
    padding-bottom: 10px;
  }

  .feed {
    flex: 1 0;
    margin: 10px 20px;
  }

  .feed_input_icon {
    width: 38px;
    height: 38px;
    border-radius: 50% !important;
    flex: 0 1 38px;
    font-size: 38px !important;
  }

  .feed_inputContainer {
    padding: 16px;
    margin-bottom: 20px;
  }

  .feed_input_text {
    border-radius: 30px;
    padding: 12px;
    padding-left: 20px;
    margin-left: 12px;
    font-weight: 600;
    text-align: left;
  }

  .feed_inputOptions {
    justify-content: space-between;
  }

  .inputOption {
    margin-top: 15px;
    padding: 10px;
  }

  .inputOption > h4 {
    margin: 0 0 0 4px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
  }
}

@media screen and (min-width: 1024px) {
  .sidebar {
    flex: 0.2;
  }

  .widgets {
    display: block;
    position: sticky;
    top: 80px;
    flex: 0.3;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    height: fit-content;
    max-height: 300px;
    padding: 10px 5px;
  }

  .widgets_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .widgets_header > h2 {
    font-size: 16px;
    font-weight: 400;
  }

  .widgets_article {
    display: flex;
    padding: 10px;
    cursor: pointer;
  }

  .widgets_article:hover {
    background-color: whitesmoke;
  }

  .widgets_articleLeft {
    color: rgba(0, 0, 0, 0.9);
    margin-right: 5px;
  }

  .widgets_articleLeft .material-icons {
    font-size: 10px;
  }

  .widgets_articleRight {
    flex: 1;
  }

  .widgets_articleRight > h4 {
    font-size: 14px;
  }

  .widgets_articleRight > p {
    font-size: 12px;
    color: gray;
  }
}
