* {
  margin: 0;
  padding: 0;
}

body {
  color: rgba(0, 0, 0, 0.9);
  background-color: #f0f0f0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-body {
  width: 84%;
  margin: 12px auto;
  display: flex;
  flex-direction: row;
  column-gap: 32px;
}

.user-profile {
  flex: 3 0;
  height: 400px;
  border-radius: 24px !important;
  background: #fff;
}

.linkedin-ad {
  display: none;
  flex: 1 0;
  height: 200px;
  background: #fff;
  align-self: center;
}

.ad-text {
  text-align: center;
  height: fit-content;
  margin-top: 20%;
}

.text-decoration-none {
  text-decoration: none;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
}

.post-options > button > i {
  margin: 2px 4px;
  font-size: 20px !important;
  width: 20px;
  height: 20px;
}

.feed_inputOptions {
  display: flex;
  justify-content: space-between;
}

.inputOption {
  display: flex;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
}

.inputOption:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

.inputOption > button {
  padding: 10px;
  background: none;
  border: none;
}

.inputOption > button > h4,
.inputOption > h4 {
  display: inline;
  margin: 0 0 0 8px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.inputOption > button > i {
  vertical-align: middle;
  padding-bottom: 4px;
}

.modal-header {
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .linkedin-ad {
    display: block;
  }

  .post-options > button > i {
    margin: 2px 8px;
    font-size: 24px !important;
    width: 24px;
    height: 24px;
  }
}
