.flex-row {
  width: 84%;
  margin: 16px auto;
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.connections-body {
  background: #fff;
  flex: 2 0;
  padding: 16px;
}

.linkedin-ad {
  display: none;
  flex: 1 0;
  height: 200px;
  background: #fff;
  align-self: center;
}

.ad-text {
  text-align: center;
  height: fit-content;
  margin-top: 20%;
}

.horizontal-line {
  height: 0px;
  width: 92%;
  position: relative;
  left: 28px;
  border: solid 1px #f0f0f0;
  margin-bottom: 12px;
}

.secondary-action-button {
  color: #0a66c2;
  border: solid 1px #0a66c2;
  background: none;
  padding: 2px 20px;
  border-radius: 20px;
  font-weight: bold;
}

.user-name {
  flex: 1 0;
}

@media screen and (min-width: 768px) {
  .flex-row {
    margin-top: 72px;
  }

  .linkedin-ad {
    display: block;
  }
}
