.body_main {
  width: 94%;
}

.header_right > a,
.bottom-nav > a {
  text-transform: none;
  text-decoration: none;
}

.header_left img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}

.header {
  width: 100%;
  display: flex;
  top: 0;
  height: fit-content;
  justify-content: space-between;
  border-bottom: 0.1px solid lightgray;
  padding: 8px 16px;
  background-color: white;
}

.header_left {
  display: flex;
}

.header_right {
  display: none;
}

.header_search {
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: fit-content;
  margin: auto 0;
  color: gray;
  background-color: #eef3f8;
}

.header_search > input {
  outline: none;
  border: none;
  background: none;
}

.headerOption,
form > button > i {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8px;
  color: gray;
  cursor: pointer;
}

.headerOption:hover,
form > button > i:hover,,
form > button > h3:hover {
  color: black;
}

.headerOption h3,
form > button > h3 {
  font-size: 12px;
  margin: 0;
  font-weight: 400;
  width: max-content;
}

.headerOption_icon {
  margin: 4px;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .main-body {
    padding: 56px 0 !important;
  }

  .body_main {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    width: 84%;
  }

  .header {
    width: 100%;
    padding: 8px 8%;
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .bottom-nav {
    display: unset;
    display: none !important;
  }

  .header_right {
    display: unset;
    display: flex;
  }

  .headerOption {
    margin-right: 16px;
  }
}
