{% extends 'base.html' %} {% load static %} {% block head %}
<title>{{ user.first_name }} {{ user.last_name }} | LinkedIn Clone</title>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/header.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/user/style.css' %}"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
{% endblock %} {% block content %} {% include 'components/header.html' %}

<div class="main-body">
  <div class="user-profile">
    <img src="{% static 'img/cover-image.jpg'%}" class="cover-image" />
    <div class="user-info">
      <div>
        {% if user.picture %}
        <a>
          <img src="{{ user.picture.url }}" class="profile_pic" />
        </a>
        {% else %}
        <img
          src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"
          class="profile_pic"
        />
        {% endif %}
      </div>
      <div class="user-name">{{ user.first_name }} {{ user.last_name }}</div>
      <div class="connections">{{ connections }} connections</div>
      <div class="buttons">
        <div style="margin: 0; padding: 0">
          {% if connection_status == 1 %}
          <button
            class="secondary-button"
            type="button"
            data-toggle="modal"
            data-target="#deleteConnectionRequest"
          >
            Withdraw
          </button>
          <div id="deleteConnectionRequest" class="modal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Withdraw Connection Request</h4>
                </div>
                <div class="modal-body">
                  <div style="font-weight: normal">
                    Are you sure you want to withdraw connection request?
                  </div>
                  <form
                    method="POST"
                    style="float: right; margin-top: 4px; padding: 4px"
                    action="{% url 'withdraw_connection_request_view' user.pk %}"
                  >
                    {% csrf_token %}
                    <button class="action-button" data-dismiss="modal">
                      Cancel
                    </button>
                    <button type="submit" class="secondary-button">
                      Withdraw
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% elif connection_status == 2 %}
          <button
            class="secondary-button"
            type="button"
            data-toggle="modal"
            data-target="#removeConnection"
          >
            Remove
          </button>
          <div id="removeConnection" class="modal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Remove Connection</h4>
                </div>
                <div class="modal-body">
                  <div style="font-weight: normal">
                    Are you sure you want to remove connection?
                  </div>
                  <form
                    method="POST"
                    style="float: right; margin-top: 4px; padding: 4px"
                    action="{% url 'remove_connection_view' user.pk %}"
                  >
                    {% csrf_token %}
                    <button class="action-button" data-dismiss="modal">
                      Cancel
                    </button>
                    <button type="submit" class="secondary-button">
                      Remove
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <form
            method="POST"
            action="{% url 'connection_request_view' user.pk %}"
          >
            {% csrf_token %}
            <button type="submit" class="action-button">Connect</button>
          </form>
          {% endif %}
        </div>
        <button class="secondary-button">Message</button>
        <button class="tertiary-button">More</button>
      </div>
    </div>
  </div>
  <div class="linkedin-ad">
    <div class="ad-text">Get your Ad here.</div>
  </div>
</div>
{% endblock %}
