{% extends 'base.html' %} {% load static %} {% block head %}
<title>{{ user.first_name }} {{ user.last_name }} | LinkedIn Clone</title>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/header.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/user/style.css' %}"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
{% endblock %} {% block content %} {% include 'components/header.html' %}

<div class="main-body">
  <div class="user-profile">
    <img src="{% static 'img/cover-image.jpg'%}" class="cover-image" />
    <div class="user-info">
      <div>
        <button
          type="button"
          class="edit-profile-photo"
          style="border: none; background: none"
          data-toggle="modal"
          data-target="#editProfilePhoto"
        >
          {% if user.picture %}
          <img src="{{ user.picture.url }}" class="profile_pic" />

          {% else %}
          <img
            src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"
            class="profile_pic"
          />
          {% endif %}
        </button>
        <div id="editProfilePhoto" class="modal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Edit Profile Picture</h4>
                <button type="button" class="close" data-dismiss="modal">
                  &times;
                </button>
              </div>
              <div class="modal-body">
                {% include 'components/edit_profile_photo.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <button
        type="button"
        class="edit-profile"
        style="border: none; background: none"
        data-toggle="modal"
        data-target="#editForm"
      >
        <i class="material-icons"> edit </i>
      </button>
      <div id="editForm" class="modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit Intro</h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <div class="modal-body">
              {% include 'components/edit_profile.html' %}
            </div>
          </div>
        </div>
      </div>
      <div class="user-name">{{ user.first_name }} {{ user.last_name }}</div>
      <div class="connections">{{ connections }} connections</div>
      <div class="buttons">
        <div class="action-button">Open to</div>
        <div class="secondary-button">Add Section</div>
        <div class="tertiary-button">More</div>
      </div>
    </div>
  </div>
  <div class="linkedin-ad">
    <div class="ad-text">Get your Ad here.</div>
  </div>
</div>
{% endblock %}
