{% extends 'base.html' %}
{% load static %}

{% block head %}

{% if request.GET.query  and request.GET.query.strip  %}
<title>"{{ request.GET.query }}" | LinkedIn Clone</title>
{% else %}<title>Search | LinkedIn Clone</title>
{% endif %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/header.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/user/style.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/user/search.css' %}"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
{% endblock %}

{% block content %}

{% include 'components/header.html' %}
<div class="main-body">
  <div class="results-body">
    {% if search_results %}

    <div class="results-count">{{ search_results|length }} results found</div>

    <div class="results">
      {% for user in search_results %}
      <div class="user-row">
        <a
          href="{% url 'profile_view' user.user_data.username %}"
          class="text-decoration-none user-data"
        >
          {% if user.user_data.picture %}
          <img src="/media/{{ user.user_data.picture }}" class="profile_pic" />
          {% else %}
          <img
            src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"
            class="profile_pic"
          />
          {% endif %}

          <div class="user-name">
            <div>
              {{ user.user_data.first_name }} {{ user.user_data.last_name }}
            </div>
          </div>
        </a>
        {% if user.user_data.username != request.user.username %}
        <div>
          {% if user.connection_status == 1 %}
          <button
            class="secondary-button"
            type="button"
            data-toggle="modal"
            data-target="#deleteConnectionRequest_{{user.user_data.pk}}"
          >
            Withdraw
          </button>
          <div
            id="deleteConnectionRequest_{{user.user_data.pk}}"
            class="modal"
            role="dialog"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Withdraw Connection Request</h4>
                </div>
                <div class="modal-body">
                  <div style="font-weight: normal">
                    Are you sure you want to withdraw connection request?
                  </div>
                  <form
                    method="POST"
                    style="float: right; margin-top: 4px; padding: 4px"
                    action="{% url 'withdraw_connection_request_view' user.user_data.pk %}"
                  >
                    {% csrf_token %}
                    <button class="action-button" data-dismiss="modal">
                      Cancel
                    </button>
                    <button type="submit" class="secondary-button">
                      Withdraw
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% elif user.connection_status == 2 %}
          <button
            class="secondary-button"
            type="button"
            data-toggle="modal"
            data-target="#removeConnection"
          >
            Remove
          </button>
          <div id="removeConnection" class="modal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Remove Connection</h4>
                </div>
                <div class="modal-body">
                  <div style="font-weight: normal">
                    Are you sure you want to remove connection?
                  </div>
                  <form
                    method="POST"
                    style="float: right; margin-top: 4px; padding: 4px"
                    action="{% url 'remove_connection_view' user.user_data.pk %}"
                  >
                    {% csrf_token %}
                    <button class="action-button" data-dismiss="modal">
                      Cancel
                    </button>
                    <button type="submit" class="secondary-button">
                      Remove
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <form
            method="POST"
            action="{% url 'connection_request_view' user.user_data.pk %}"
          >
            {% csrf_token %}
            <button type="submit" class="action-button">Connect</button>
          </form>
          {% endif %}
        </div>
        {% endif %}
      </div>
      <div class="horizontal-line"></div>
      {% endfor %}
    </div>
    {% else %}

    <div class="results">
      <div class="no-results">
        No Results to found.<br />
        Try shortening or reprashing your search.
      </div>
    </div>

    {% endif %}
  </div>
  <div class="linkedin-ad">
    <div class="ad-text">Get your Ad here.</div>
  </div>
</div>

{% endblock %}
