.post {
  background-color: white;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.post_header {
  display: flex;
  margin-bottom: 8px;
  font-size: 12px;
}

a {
  text-decoration: none;
  text-transform: none;
  color: rgba(0, 0, 0, 0.9);
}

a:hover {
  text-decoration: none;
  text-transform: none;
  color: rgba(0, 0, 0, 0.9);
}

.post_header > a > img,
.post_header > a > i {
  height: 24px !important;
  width: 22px !important;
  border-radius: 50% !important;
  text-decoration: none;
  text-transform: none;
  color: rgba(0, 0, 0, 0.9);
}

.post_info {
  flex: 1 0;
}

.post_info {
  margin-left: 8px;
}

.post_info > a > div {
  font-size: 16px;
  color: gray;
  margin: 4px 2px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.headline {
  font-size: 14px !important;
  font-weight: normal !important;
  color: rgba(0, 0, 0, 0.6) !important;
  margin: 0;
  padding: 0;
}

.results-body {
  flex: 3 0;
}

.results-count {
  margin-bottom: 16px;
}

.results {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  min-height: 350px;
}

.no-results {
  margin-top: 15%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .post {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .post_header {
    display: flex;
    margin-bottom: 10px;
  }

  .post_info {
    flex: 1 0;
  }

  .post-detail-profile-picture {
    height: 40px;
    width: 38px;
    border-radius: 50% !important;
    font-size: 40px !important;
  }

  .post_info {
    margin-left: 10px;
  }

  .post_info > p {
    font-size: 12px;
    color: gray;
  }

  .post_info > h2 {
    font-size: 15px;
  }

  .post-link,
  .post-link:hover {
    text-decoration: none;
    text-transform: none;
    color: rgba(0, 0, 0, 0.9);
  }
  .delete-title {
    text-align: center;
    font-size: 18px;
    margin: auto;
  }

  .delete-post-text {
    display: block;
    flex: 1 0 100%;
    margin-top: 8px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }

  .post_info > a > div {
    font-size: 20px;
  }
}
