* {
  margin: 0;
  padding: 0;
}

body {
  color: rgba(0, 0, 0, 0.9);
  background-color: #f0f0f0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-body {
  width: 84%;
  margin: 12px auto;
  display: flex;
  flex-direction: row;
  column-gap: 32px;
}

.user-profile {
  flex: 3 0;
  height: 400px;
  border-radius: 24px !important;
  background: #fff;
}

.linkedin-ad {
  display: none;
  flex: 1 0;
  height: 200px;
  background: #fff;
  align-self: center;
}

.ad-text {
  text-align: center;
  height: fit-content;
  margin-top: 20%;
}

.text-decoration-none {
  text-decoration: none;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
}

.cover-image {
  width: 100%;
  border-top-left-radius: 24px !important;
  border-top-right-radius: 24px !important;
}

.user-info {
  padding: 8px;
  margin-left: 12px;
  position: relative;
  bottom: 55px;
}

.connect-button {
  padding: 2px 20px;
  border-radius: 20px !important;
  text-transform: none;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  color: #0a66c2;
  box-shadow: inset 0 0 0 1px #0a66c2;
  border: solid 1px #0a66c2;
  background: none;
}

.buttons > a {
  color: #fff !important;
  text-decoration: none !important;
}

a:hover {
  text-transform: none;
  text-decoration: none;
}

.profile_pic {
  width: 78px;
  height: 78px;
  object-position: center;
  border-radius: 50% !important;
}

.user-name {
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
}

.connections {
  color: #0a66c2;
  font-size: 16px;
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  margin-top: 12px;
}

.buttons > * {
  padding: 2px 10px;
  border-radius: 10px !important;
}

.action-button {
  color: #fff;
  background: #0a66c2;
  border: solid 1px #0a66c2;
  padding: 2px 10px;
  border-radius: 15px !important;
}

.secondary-button {
  color: rgba(0, 0, 0, 0.6);
  border: solid 1px rgba(0, 0, 0, 0.6);
  background: none;
  padding: 2px 10px;
  border-radius: 15px !important;
}

.tertiary-button {
  color: rgba(0, 0, 0, 0.6);
  border: solid 1px rgba(0, 0, 0, 0.6);
}

.edit-profile {
  float: right;
  width: 18px;
  position: relative;
  bottom: 32px;
  right: 8px;
}

.edit-profile > i {
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .linkedin-ad {
    display: block;
  }

  .user-name {
    font-size: 24px;
  }

  .profile_pic {
    width: 152px;
    height: 152px;
    object-position: center;
    border-radius: 50% !important;
  }

  .user-info {
    bottom: 110px;
  }

  .buttons > * {
    padding: 2px 20px;
    border-radius: 20px !important;
    font-weight: bold;
  }
}
