body {
  background-color: #fff;
}

.container {
  width: 80%;
}

.form-heading {
  width: fit-content;
  text-align: center;
  padding: 12px 8px;
  font-size: 18px;
  font-weight: 500;
}

.signup-form {
  width: 100%;
  padding: 8px 4px;
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.terms-and-conditions {
  font-size: 12px;
  font-weight: normal;
  width: 80%;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 16px;
  text-align: center;
}

.or-divisor {
  margin-top: 24px;
}

.or_text {
  font-size: 12px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.or_text::before {
  content: "";
  display: block;
  background: #d3d3d3;
  height: 1px;
  width: 42%;
}

.or_text::after {
  content: "";
  display: block;
  background: #d3d3d3;
  height: 1px;
  width: 42%;
}

@media screen and (min-width: 768px) {
  .form-heading {
    font-size: 24px;
  }

  .signup-form {
    width: 84%;
    padding: 12px 8px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-color: #f0f0f0 !important;
  }

  .form-heading {
    padding: 24px 16px;
    font-size: 32px;
    font-weight: 500;
  }

  .signup-form {
    width: 400px;
    padding: 16px;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}
