<div style="margin-left: 10%">
  {% if reply_comment.user == user %}
  <button
    type="button"
    style="
      border: none;
      background: transparent;
      float: right;
      position: relative;
      top: 35px;
      right: 8px;
    "
    data-toggle="modal"
    data-target="#deleteComment_{{ reply_comment.pk }}"
  >
    <i class="material-icons sidebar_topAvatar"> delete </i>
  </button>
  <div id="deleteComment_{{reply_comment.pk}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title delete-title">Delete Post?</div>
          <div class="delete-post-text">
            Are you sure you want to delete this comment from post?
          </div>
        </div>
        <div class="modal-body">
          <form
            method="POST"
            style="display: inline; float: right"
            action="{% url 'comment_delete_view' reply_comment.pk %}"
          >
            {% csrf_token %}

            <a class="btn btn-sm btn-info" data-dismiss="modal">Cancel</a>
            <button type="submit" style="border: none; background: none">
              Delete
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div
    style="
      display: flex;
      flex-direction: row;
      padding: 4px 16px;
      background: rgba(0, 0, 0, 0.1);
      width: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-bottom: none;
    "
  >
    <a
      href="{% url 'profile_view' reply_comment.user.username %}"
      style="align-self: center"
    >
      {% if reply_comment.user.picture %}
      <img
        style="height: 40px; width: 38px; border-radius: 50% !important"
        src="{{ reply_comment.user.picture.url }}"
      />
      {% else %}<i
        style="
          text-decoration: none;
          text-transform: none;
          color: rgba(0, 0, 0, 0.9);
          font-size: 40px;
          border-radius: 50% !important;
        "
        class="material-icons sidebar_topAvatar"
      >
        account_circle
      </i>
      {% endif %}
    </a>
    <div style="margin-left: 8px">
      <div>{{ reply_comment.user.username }}</div>
      <div>{{ reply_comment.user.bio }}</div>
    </div>
  </div>
  <div
    style="
      padding: 4px 16px;
      background: rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-top: none;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    "
  >
    {{ reply_comment.text }}
  </div>
  <button
    onclick="handleReply({{reply_comment.id}})"
    style="
      margin-top: 4px;
      background: none;
      border: none;
      color: rgba(0, 0, 0, 0.6);
    "
  >
    Reply
  </button>

  <div id="reply-form-{{reply_comment.id}}" style="display: none">
    <form
      method="post"
      action="{% url 'reply_comment_view' reply_comment.id %}"
      class="mt-3"
    >
      {% csrf_token %}
      <textarea
        name="comment_text"
        placeholder="Post Comment..."
        style="outline: none; border: none"
        maxlength="140"
      ></textarea>
      <div>
        <button
          type="button"
          onclick="handleCancel({{reply_comment.id}})"
          class="btn btn-light border btn-sm"
        >
          Cancel
        </button>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
      </div>
    </form>
  </div>
  {% for reply_comment in reply_comment.get_comments %}
  {% include 'components/comment.html'%}
  {% endfor %}
</div>
