<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Create Post</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row">
          <div class="col-sm-8">
            <textarea
              type="text"
              rows="6"
              name="text"
              class="form-control form-control-sm"
              placeholder="What do you want to talk about?"
              maxlength="400"
            ></textarea>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-8">
            <input
              type="file"
              name="media"
              accept="image/*,video/*,text/*"
            />
          </div>
        </div>

        <div>
          <button class="btn btn-sm btn-primary">Post</button>
        </div>
      </form>
    </div>
  </div>
</div>
