<form
  method="POST"
  enctype="multipart/form-data"
  action="{% url 'change_user_profile_photo' %}"
>
  {% csrf_token %}
  <div class="form-group row">
    <div class="col-sm-8">
      {% if request.user.picture %}
      <div style="padding-bottom: 8px">
        <div>Current Image:<br /></div>
        <img
          style="display: block; width: 40%"
          src="{{ request.user.picture.url}}"
        />
      </div>
      {% endif %}
      <input type="file" name="picture" accept="image/*" />
      <div class="invalid-feedback"></div>
    </div>
  </div>

  <div>
    <button class="btn btn-sm btn-primary" value="update">Update</button>
    <button
      type="submit"
      class="btn btn-sm btn-danger"
      name="remove_photo"
      value="remove_photo"
    >
      Remove Photo
    </button>
  </div>
</form>
