<form method="POST" enctype="multipart/form-data">
  {% csrf_token %} 
  {% for field in form %}
  {% if field.label != "Picture" and field.label != "Email"  %}
  <div class="form-group row">
    <label
      class="
        col-sm-2 col-form-label col-form-label-sm
        text-md-right
        font-weight-bolder
      "
      for="{{ field.auto_id }}"
      >{{ field.label }}</label
    >
    <div class="col-sm-8">
      {{ field }}
      <small id="passwordHelpBlock" class="form-text text-muted">
        {{ field.help_text }}
      </small>
      <div class="invalid-feedback">{{ field.errors }}</div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  <div class="offset-md-2 my-1">
    <button class="btn btn-sm btn-primary">Submit</button>
  </div>
</form>
