{% load static %}
<div class="header">
  <div class="header_left">
    <a href="{% url 'home_view' %}">
      <img src="{% static 'img/Linkedin-Logo-small.png' %}" />
    </a>
    <form
      method="GET"
      class="header_search"
      action="{% url 'search_profile_view' %}"
    >
      <i class="material-icons"> search </i>
      <input type="text" name="query" placeholder="Search" />
    </form>
  </div>

  <div class="header_right">
    <a href="{% url 'home_view' %}">
      <div class="headerOption">
        <i class="material-icons headerOption_icon"> house </i>
        <h3>Home</h3>
      </div>
    </a>
    <a href="{% url 'network_view' %}">
      <div class="headerOption">
        <i class="material-icons headerOption_icon"> supervisor_account </i>
        <h3>My Network</h3>
      </div>
    </a>
    <div class="headerOption">
      <i class="material-icons headerOption_icon"> business_center </i>
      <h3>Jobs</h3>
    </div>
    <div class="headerOption">
      <i class="material-icons headerOption_icon"> chat </i>
      <h3>Messaging</h3>
    </div>
    <div class="headerOption">
      <i class="material-icons headerOption_icon"> notifications </i>
      <h3>Notifications</h3>
    </div>
    <a href="{% url 'profile_view' request.user.username %}">
      <div class="headerOption">
        {% if request.user.picture %}
        <img src="{{ request.user.picture.url }}" class="headerOption_icon" />
        {% else %}
        <i class="material-icons headerOption_icon"> account_circle </i>
        {% endif %}
        <h3>Me</h3>
      </div>
    </a>
    <form method="POST" action="{% url 'signout_view' %}">
      {% csrf_token %}
      <button
        class="headerOption"
        style="background: none; border: none; margin: 0; padding: 0"
      >
        <i class="material-icons headerOption_icon"> logout </i>
        <h3>Sign Out</h3>
      </button>
    </form>
  </div>
</div>
<div
  class="bottom-nav"
  style="
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    background: #fff;
  "
>
  <a href="{% url 'home_view' %}">
    <div class="headerOption">
      <i class="material-icons headerOption_icon"> house </i>
      <h3>Home</h3>
    </div>
  </a>
  <a href="{% url 'network_view' %}">
    <div class="headerOption">
      <i class="material-icons headerOption_icon"> supervisor_account </i>
      <h3>My Network</h3>
    </div>
  </a>
  <div class="headerOption">
    <i class="material-icons headerOption_icon"> business_center </i>
    <h3>Jobs</h3>
  </div>
  <div class="headerOption">
    <i class="material-icons headerOption_icon"> chat </i>
    <h3>Messaging</h3>
  </div>
  <div class="headerOption">
    <i class="material-icons headerOption_icon"> notifications </i>
    <h3>Notifications</h3>
  </div>
  <a href="{% url 'profile_view' request.user.username %}">
    <div class="headerOption">
      {% if request.user.picture %}
      <img src="{{ request.user.picture.url }}" class="headerOption_icon" />
      {% else %}
      <i class="material-icons headerOption_icon"> account_circle </i>
      {% endif %}
      <h3>Me</h3>
    </div>
  </a>
  <form method="POST" action="{% url 'signout_view' %}">
    {% csrf_token %}
    <button
      class="headerOption"
      style="background: none; border: none; margin: 0; padding: 0"
    >
      <i class="material-icons headerOption_icon"> logout </i>
      <h3>Sign Out</h3>
    </button>
  </form>
</div>
