<div class="post">
  <div class="post_header">
    <a
      href="{% url 'profile_view' post.post.user.username %}"
      style="align-self: center"
    >
      {% if post.post.user.picture %}
      <img src="{{ post.post.user.picture.url }}" />
      {% else %}<i class="material-icons sidebar_topAvatar"> account_circle </i>
      {% endif %}
    </a>
    <div class="post_info">
      <a
        style="
          text-decoration: none;
          text-transform: none;
          color: rgba(0, 0, 0, 0.9);
        "
        href="{% url 'profile_view' post.post.user.username %}"
      >
        <div>
          {{ post.post.user.first_name }} {{ post.post.user.last_name }}
        </div>
        {% if post.post.user.headline and post.post.user.headline.strip %}
        <div class="headline">
          {{ post.post.user.headline }}
        </div>
        {% endif %}
      </a>
    </div>
    {% if post.post.user.username == request.user.username %}
    <div class="post-options">
      <button
        type="button"
        style="border: none; background: none"
        data-toggle="modal"
        data-target="#editPost_{{ post.post.pk }}"
      >
        <i class="material-icons sidebar_topAvatar"> edit </i>
      </button>
      <div id="editPost_{{ post.post.pk }}" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit Post</h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <div class="modal-body">
              <form
                method="POST"
                enctype="multipart/form-data"
                action="{% url 'post_edit_view' post.post.id %}"
              >
                {% csrf_token %}
                <div class="form-group row">
                  <div class="col-sm-8">
                    <input
                      type="text"
                      name="text"
                      class="form-control form-control-sm"
                      placeholder="What do you want to talk about?"
                      maxlength="400"
                      value="{% if post.post.text %}{{post.post.text}}{% endif %}"
                      id="id_text"
                    />
                    <div class="invalid-feedback"></div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-8">
                    {% if post.post.media %}
                    <div style="padding-bottom: 8px">
                      <div>Current Media:<br /></div>
                      {% if post.post.media %}
                      <embed
                        style="width: 95%; height: 100%"
                        src="{{post.post.media.url}}"
                        type="{{post.file_type}}"
                      />{% endif %}
                      <input type="checkbox" name="remove_media" /> Remove Media
                    </div>
                    {% endif %}
                    <input
                      type="file"
                      name="media"
                      accept="image/*,video/*,text/*"
                      id="id_image"
                    />
                    <div class="invalid-feedback"></div>
                  </div>
                </div>

                <div class="my-1">
                  <button class="btn btn-sm btn-primary">Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <button
        type="button"
        style="border: none; background: none"
        data-toggle="modal"
        data-target="#deletePost_{{ post.post.pk }}"
      >
        <i class="material-icons sidebar_topAvatar"> delete </i>
      </button>
      <div id="deletePost_{{post.post.pk}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <div class="modal-title delete-title">Delete Post?</div>
              <div class="delete-post-text">
                Are you sure you want to permanently remove this post from
                LinkedIn Clone?
              </div>
            </div>
            <div class="modal-body">
              <form
                method="POST"
                style="display: inline; float: right"
                action="{% url 'post_delete_view' post.post.pk %}"
              >
                {% csrf_token %}

                <a class="btn btn-sm btn-info" data-dismiss="modal">Cancel</a>
                <button type="submit" style="border: none; background: none">
                  Delete
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  <a
    style="display: block"
    class="post-link"
    href="{% url 'post_detail_view' post.post.pk %}"
  >
    {% if post.post.text %}
    <div class="post_body">
      <p style="max-width: 90%; overflow-wrap: anywhere">{{ post.post.text}}</p>
    </div>
    {% endif %} {% if post.post.media %} {% if post.file_type != 'others' %}
    <embed
      style="width: fit-content; height: 100%; max-width: 95%"
      src="{{post.post.media.url}}"
      type="{{post.file_type}}"
    />{% endif %} {% endif %}
    <div style="color: rgba(0, 0, 0, 0.6); margin-top: 4px">
      {{ post.post.likes_count|default:0 }} Likes &#8226; 
      {{ post.post.comments_count|default:0 }} Comments
    </div>

    <div class="feed_inputOptions">
      <div class="inputOption">
        {% if post.is_post_liked %}
        <i style="color: gray; transform: scale(-1, 1)" class="material-icons">
          thumb_up
        </i>
        <h4>Like</h4>
        {% else %}
        <i
          style="color: gray; transform: scale(-1, 1)"
          class="material-icons-outlined"
        >
          thumb_up
        </i>
        <h4>Like</h4>
        {% endif %}
      </div>
      <div class="inputOption">
        <i style="color: gray" class="material-icons-outlined">
          mode_comment
        </i>
        <h4>Comment</h4>
      </div>
      <div class="inputOption">
        <i style="color: gray" class="material-icons-outlined"> shortcut </i>
        <h4>Share</h4>
      </div>
      <div class="inputOption">
        <i
          style="color: gray; transform: rotate(-45deg)"
          class="material-icons"
        >
          send
        </i>
        <h4>Send</h4>
      </div>
    </div>
  </a>
</div>
