.container {
  width: 90% !important;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
}

.signin-form {
  width: 100%;
  display: block;
  margin: 5% auto;
}

.signin-title {
  width: fit-content;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
  padding: 0 0 4px 0;
}

.forgot-password {
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .signin-form {
    width: 352px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    border-radius: 8px;
    padding: 24px;
  }

  .signin-title {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 600;
  }
}
