* {
  margin: 0;
  padding: 0;
}

.linkedin_logo {
  width: 136px;
  object-position: center;
  margin-top: 24px;
}

body {
  color: rgba(0, 0, 0, 0.9);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.justify-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.is-invalid {
  border: 1px solid #d11124;
}

.input-label {
  color: rgba(0, 0, 0, 0.6);
  display: block;
  font-size: 12px;
  margin-top: 8px;
}

form:nth-child(1),
form:nth-child(2) {
  margin-top: 0;
}

.form-input input {
  width: 100%;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  margin: 4px 0 0;
  padding: 2px 8px;
  background-color: #fff;
}

.btn {
  background-color: #0a66c2;
  color: #fff;
  height: 48px;
  border-radius: 24px;
  font-weight: 500;
  padding: 0 16px 0 16px;
  margin-top: 16px;
  width: 100%;
}

.text-decoration-none {
  color: #0a66c2;
  text-decoration: none;
  font-weight: bold;
}

.errorlist {
  margin: 0;
  list-style: none;
  list-style-type: none;
}

.new_to_linkedin,
.already_on_linkedin {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .input-label {
    font-size: 14px;
    margin-top: 16px;
  }
}
