{% extends 'base.html' %}
{% load static %}

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/authentication/style.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/authentication/signin.css' %}"
/>
<title>Reset Password | LinkedIn Clone</title>
{% endblock %}

{% block content %}
<div class="container">
  <img src="{% static 'img/Linkedin-Logo.png' %}" class="linkedin_logo" />
  <div class="signin-form justify-center">
    {% block info %}{% endblock %}
  </div>
  <div class="justify-center">
    <p class="new_to_linkedin">
      New to LinkedIn?
      <a href="{% url 'signup_view' %}" class="text-decoration-none">
        Join Now
      </a>
    </p>
  </div>
</div>

{% endblock %}
