{% extends 'authentication/base_template.html' %}
{% block info %}
<h3 style="font-weight: bold">Forgot password?</h3>
<div style="font-size: 14px">Reset password in two quick steps</div>
<form method="POST">
  {% csrf_token %}
  <div>
    <input
      id="id_email"
      type="email"
      name="email"
      placeholder="Email"
      required
      maxlength="240"
      autocomplete="email"
      style="width: 100%; padding: 4px 8px; margin: 24px 0 8px; font-size: 18px"
    />
  </div>
  <div class="text-center">
    <button class="btn btn-sm auth__btn">Reset Password</button>
  </div>
</form>
<a
  style="
    display: block;
    width: fit-content;
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    margin: 16px auto 0px;
  "
  href="{% url 'signin_view' %}"
>
  Back
</a>
{% endblock %}
