{% extends 'authentication/base_template.html' %} {% block info %}
<div class="">Enter your new password.</div>
<div class="mb-3">
  {% if form %}
  <div>
    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.non_field_errors }}
    </div>
    {% endif%}
  </div>
  <form method="POST">
    {% csrf_token %}
    <div class="my-1">
      <input
        type="password"
        name="new_password1"
        autocomplete="new-password"
        required=""
        id="id_new_password1"
        placeholder="Password"
        style="padding: 2px 4px; margin: 4px 0"
      />
      {% if form.new_password1.errors %}
      <div style="margin-top: 8px; padding: 4px">
        {{ form.new_password1.errors }}
      </div>
      {% endif %}
    </div>
    <div class="my-1">
      <input
        type="password"
        name="new_password2"
        autocomplete="new-password"
        required=""
        id="id_new_password2"
        placeholder="Retype Password"
        style="padding: 2px 4px; margin: 4px 0"
      />
      {% if form.new_password2.errors %}
      <div style="margin-top: 8px; padding: 4px">
        {{ form.new_password2.errors }}
      </div>
      {% endif %}
    </div>
    <div class="text-center">
      <button class="btn btn-sm auth__btn">Set Password</button>
    </div>
  </form>
  {% else %}
  <div class="py-2">
    <strong style="color: #ff6600"
      >Your password reset link is invalid or expired.</strong
    >
  </div>
  {% endif %}
</div>

{% endblock %}
