{% extends 'authentication/base_template.html' %}
{% block info %}
<div>
  <h4 style="font-weight: bold; font-size: 24px">
    We sent a link to your email.
  </h4>
</div>
<div>Check your registered email for the Password Reset link.</div>

{% endblock %}
