{% extends 'authentication/base_template.html' %}
{% block info %}
<div class="text-center">
  <h4 class="trouble__signin__in">Successfully Reset</h4>
</div>
<div class="forgot__password__text py-2">
  You can go ahead and signin now.
  <br />
  <a
    class="links__to__page p-2 text-decoration-none"
    href="{% url 'signin_view' %}"
  >
    Click here to Sign In.
  </a>
</div>
{% endblock %}
