{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/authentication/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/authentication/signin.css' %}">
<title>Sign In | LinkedIn Clone</title>
{% endblock %} 

{% block content %}
<div class="container">
  <img src="{% static 'img/Linkedin-Logo.png' %}" class="linkedin_logo" />
  <div class="signin-form justify-center">
    <form method="POST">
      {% csrf_token %}
      <div class="signin-title">Sign in</div>
      <div class="signin-subtitle">Stay updated on your professional world</div>
      <div class="input-label">Email</div>
      <div class="form-input">
        <input id="id_email" type="email" name="email" />
      </div>
      <div class="input-label">Password</div>
      <div class="form-input">
        <input id="id_password" type="password" name="password" />
      </div>
      <div class="forgot-password">
        <a href="{% url 'password_reset' %}" class="text-decoration-none">Forgot Password?</a>
      </div>
      <div>
        <button class="justify-center btn" type="submit">Sign in</button>
      </div>
    </form>
  </div>
  <div class="justify-center">
    <p class="new_to_linkedin">
      New to LinkedIn?
      <a href="{% url 'signup_view' %}" class="text-decoration-none">
        Join Now
      </a>
    </p>
  </div>
</div>

{% endblock %}
