{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/authentication/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/authentication/signup.css' %}">
<title>Sign Up | LinkedIn Clone</title>
{% endblock %} 

{% block content %}
<div class="container">
  <img
    src="{% static 'img/Linkedin-Logo.png' %}"
    class="linkedin_logo justify-center"
  />
  <div class="form-heading justify-center">
    Make the most of your professional life
  </div>
  <div class="signup-form justify-center">
    <form method="POST">
      {% csrf_token %}
      <div class="input-label">First Name</div>
      <div class="form-input">
        <input
          id="id_first_name"
          type="text"
          name="first_name"
          class="{% if form.first_name.errors %}is-invalid{% endif %}"
        />
        <div class="invalid-feedback">{{ form.first_name.errors }}</div>
      </div>
      <div class="input-label">Last Name</div>
      <div class="form-input">
        <input
          id="id_last_name"
          type="text"
          name="last_name"
          class="{% if form.last_name.errors %}is-invalid{% endif %}"
        />
        <div class="invalid-feedback">{{ form.last_name.errors }}</div>
      </div>
      <div class="input-label">Username</div>
      <div class="form-input">
        <input
          id="id_username"
          type="text"
          name="username"
          class="{% if form.username.errors %}is-invalid{% endif %}"
        />
        <div class="invalid-feedback">{{ form.username.errors }}</div>
      </div>
      <div class="input-label">Email</div>
      <div class="form-input">
        <input
          id="id_email"
          type="email"
          name="email"
          class="{% if form.email.errors %}is-invalid{% endif %}"
        />
        <div class="invalid-feedback">{{ form.email.errors }}</div>
      </div>
      <div class="input-label">Password</div>
      <div class="form-input">
        <input
          id="id_password1"
          type="password"
          name="password1"
          class="{% if form.password1.errors %}is-invalid{% endif %}"
        />
        <div class="invalid-feedback">{{ form.password1.errors }}</div>
      </div>
      <div class="input-label">Enter Password Again</div>
      <div class="form-input">
        <input
          id="id_password2"
          type="password"
          name="password2"
          class="{% if form.password2.errors %}is-invalid{% endif %}"
        />
        <div class="invalid-feedback">{{ form.password2.errors }}</div>
      </div>
      <div class="terms-and-conditions justify-center">
        By clicking Agree & Join, you agree to the LinkedIn
        <a href="#" class="text-decoration-none">User Agreement</a>,
        <a href="#" class="text-decoration-none">Privacy Policy</a>, and
        <a href="#" class="text-decoration-none">Cookie Policy</a>.
      </div>
      <div>
        <button class="justify-center btn" type="submit">Agree & Join</button>
      </div>
      <div class="or-divisor">
        <p class="or_text">or</p>
      </div>
      <div class="justify-center">
        <p class="already_on_linkedin">
          Already on LinkedIn?
          <a href="{% url 'signin_view' %}" class="text-decoration-none">
            Sign in
          </a>
        </p>
      </div>
    </form>
  </div>
</div>

{% endblock %}
