.results-body {
  flex: 3 0;
}

.results-count {
  margin-bottom: 16px;
}

.results {
  background: #fff;
  padding: 8px;
  border-radius: 8px;
  min-height: 350px;
}

.no-results {
  margin-top: 15%;
  text-align: center;
}

.profile_pic {
  width: 48px;
  height: 48px;
  object-fit: cover;
  object-position: center;
  border-radius: 50% !important;
}

.user-row {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  margin: 16px 0;
  padding: 4px;
  align-items: center;
}

.user-data {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  flex: 1 0;
  align-items: center;
}

.user-data:hover {
  text-transform: none;
  text-decoration: none;
}

.user-name {
  flex: 1 0;
}

.text-decoration-none {
  text-decoration: none;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
}

.connect-button {
  padding: 2px 10px;
  border-radius: 10px !important;
  font-weight: 500;
  text-align: center;
  color: #0a66c2;
  box-shadow: inset 0 0 0 1px #0a66c2;
  border: solid 1px #0a66c2;
  background: transparent;
}

.horizontal-line {
  height: 0px;
  width: 100%;
  position: relative;
  left: 56px;
  border: solid 1px #f0f0f0;
}

@media screen and (min-width: 768px) {
  .results {
    padding: 16px;
  }

  .connect-button {
    padding: 2px 20px;
    border-radius: 20px !important;
    font-weight: 600;
  }
}
