body {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connections {
  width: 84%;
  display: flex;
  flex-direction: row;
  background: #fff;
  padding: 8px 16px;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  margin: 24px auto 12px;
}

a:hover {
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

.connection-requests {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 84%;
}

.connection-requests > * {
  background: #fff;
  flex: 1 0;
  border-radius: 8px;
  padding: 12px 16px;
  height: fit-content;
}

.horizontal-line {
  height: 0px;
  width: 100%;
  position: relative;
  border: solid 1px #f0f0f0;
  margin-bottom: 12px;
}

.no-requests-message {
  color: rgba(0, 0, 0, 0.6);
}

.profile_pic {
  width: 48px;
  height: 48px;
  object-fit: cover;
  object-position: center;
  border-radius: 50% !important;
}

.user-row {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  margin: 16px 0;
  padding: 4px;
  width: 100%;
  align-items: center;
}

a {
  flex: 1 0;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
}

.text-decoration-none {
  text-decoration: none;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
}

.action-button {
  color: #fff;
  background: #0a66c2;
  border: none;
  padding: 2px 20px;
  border-radius: 20px !important;
  font-weight: bold;
}

.secondary-button {
  color: rgba(0, 0, 0, 0.6);
  border: solid 1px rgba(0, 0, 0, 0.6);
  background: none;
  padding: 2px 20px;
  font-weight: bold;
}

.secondary-button:hover {
  background-color: whitesmoke;
  border-radius: 0px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .connections {
    margin-top: 72px;
  }

  .connection-requests {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
  }
}
