{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/home/feed.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/header.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/post_detail.css' %}"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
  rel="stylesheet"
/>
<title>Feed | LinkedIn Clone</title>
{% endblock %} {% block content %} {% include 'components/header.html' %}
<div class="body_main">
  <div class="sidebar">
    <div class="sidebar_top">
      <a href="{% url 'profile_view' request.user.username %}">
        <img
          style="
            width: 100%;
            border-top-left-radius: 10px !important;
            border-top-right-radius: 10px !important;
          "
          src="{% static 'img/cover-image.jpg'%}"
        />
        {% if user.picture %}
        <img src="{{ user.picture.url }}" class="sidebar_topAvatar_img" />
        {% else %}
        <i class="material-icons sidebar_topAvatar-2x"> account_circle </i>
        {% endif %}
        <h2 style="margin: 0; padding: 2px 4px">{{ user.username }}</h2>
        {% if user.headline and user.headline.strip %}
        <h4>{{ user.headline }}</h4>
        {% endif %}
      </a>
    </div>

    <div class="sidebar_stats">
      <a href="{% url 'view_all_connections_view'%}" class="sidebar_stat">
        <p>Connections</p>
        <p class="sidebar_statNumber">{{ connections|default:0 }}</p>
      </a>
      <div class="sidebar_stat">
        <p>Who Viewed You</p>
        <p class="sidebar_statNumber">12</p>
      </div>
    </div>

    <div class="sidebar_bottom">
      <p>Recent</p>
      <div class="sidebar_recentItem">
        <span class="sidebar_hash">#</span>
        <p>reactjs</p>
      </div>
      <div class="sidebar_recentItem">
        <span class="sidebar_hash">#</span>
        <p>programming</p>
      </div>
      <div class="sidebar_recentItem">
        <span class="sidebar_hash">#</span>
        <p>softwareengineering</p>
      </div>
      <div class="sidebar_recentItem">
        <span class="sidebar_hash">#</span>
        <p>design</p>
      </div>
      <div class="sidebar_recentItem">
        <span class="sidebar_hash">#</span>
        <p>developer</p>
      </div>
    </div>
  </div>

  <div class="feed">
    <div class="feed_inputContainer">
      <div class="feed_input">
        {% if user.picture %}
        <img src="{{ user.picture.url }}" class="feed_input_icon" />
        {% else %}
        <i class="material-icons feed_input_icon"> account_circle </i>
        {% endif %}
        <button
          type="button"
          class="feed_input_text"
          style="border: none"
          data-toggle="modal"
          data-target="#createPostForm"
        >
          <div class="post-text" type="text">Start a post</div>
        </button>
        <div id="createPostForm" class="modal fade" role="dialog">
          {% include 'components/create_post.html' %}
        </div>
      </div>
      <div class="feed_inputOptions">
        <div class="inputOption">
          <i style="color: #70b5f9" class="material-icons"> wallpaper </i>
          <h4>Photo</h4>
        </div>
        <div class="inputOption">
          <i style="color: #7fc15e" class="material-icons"> smart_display </i>
          <h4>Video</h4>
        </div>
        <div class="inputOption">
          <i style="color: #a8d4ff" class="material-icons"> business_center </i>
          <h4>Job</h4>
        </div>
        <div class="inputOption">
          <i style="color: #fc9295" class="material-icons">
            calendar_view_day
          </i>
          <h4>Write Article</h4>
        </div>
      </div>
    </div>

    {% for post in all_posts %}
    {% include 'components/post_detail.html' %}
    {% endfor %}
  </div>

  <div class="widgets">
    <div class="widgets_header">
      <h2>LinkedIn News</h2>
      <i class="material-icons"> info </i>
    </div>
    <div class="widgets_article">
      <div class="widgets_articleLeft">
        <i class="material-icons"> fiber_manual_record </i>
      </div>
      <div class="widgets_articleRight">
        <h4>Coding LinkedIn Clone</h4>
        <p>Top news - 4500 readers</p>
      </div>
    </div>

    <div class="widgets_article">
      <div class="widgets_articleLeft">
        <i class="material-icons"> fiber_manual_record </i>
      </div>
      <div class="widgets_articleRight">
        <h4>Coding LinkedIn Clone</h4>
        <p>Top news - 4500 readers</p>
      </div>
    </div>

    <div class="widgets_article">
      <div class="widgets_articleLeft">
        <i class="material-icons"> fiber_manual_record </i>
      </div>
      <div class="widgets_articleRight">
        <h4>Coding LinkedIn Clone</h4>
        <p>Top news - 4500 readers</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
