{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/header.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/home/network.css' %}"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<title>Feed | LinkedIn Clone</title>
{% endblock %} {% block content %} {% include 'components/header.html' %}
<a href="{% url 'view_all_connections_view' %}" class="connections">
  <div style="flex: 1 0">See all connections</div>
  <div>{{ connections|default:0 }} Connections</div>
</a>
<div class="connection-requests">
  <div>
    <h5>Connection Requests Received</h5>
    <div class="horizontal-line"></div>
    {% if connections_received.count|default:0 == 0 %}
    <div class="no-requests-message">No requests received.</div>
    {% else %}
    <div class="requests-message">
      {{ connections_received.count }} requests received.
    </div>

    {% for connection in connections_received %}
    <div class="user-row">
      <a
        href="{% url 'profile_view' connection.user2.username %}"
        class="text-decoration-none user-data"
      >
        {% if connection.user2.picture %}
        <img src="/media/{{ connection.user2.picture }}" class="profile_pic" />
        {% else %}
        <img
          src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"
          class="profile_pic"
        />
        {% endif %}

        <div class="user-name">
          <div>
            {{ connection.user2.first_name }} {{ connection.user2.last_name }}
          </div>
          {% if connection.user2.bio %}
          <div>{{ connection.user2.bio }}</div>
          {% endif %}
        </div>
      </a>
      <form
        method="POST"
        action="{% url 'accept_connection_request_view' connection.pk %}"
      >
        {% csrf_token %}
        <button class="action-button" type="submit">Connect</button>
      </form>
    </div>
    {% endfor %} {% endif %}
  </div>
  <div>
    <h5>Connection Requests Sent</h5>
    <div class="horizontal-line"></div>
    {% if connections_sent.count|default:0 == 0 %}
    <div class="no-requests-message">No requests sent.</div>
    {% else %}
    <div class="requests-message">
      {{ connections_sent.count }} requests sent.
    </div>
    {% for connection in connections_sent %}

    <div class="user-row">
      <a
        href="{% url 'profile_view' connection.user2.username %}"
        class="text-decoration-none user-data"
      >
        {% if connection.user2.picture %}
        <img src="/media/{{ connection.user2.picture }}" class="profile_pic" />
        {% else %}
        <img
          src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"
          class="profile_pic"
        />
        {% endif %}

        <div class="user-name">
          <div>
            {{ connection.user2.first_name }} {{ connection.user2.last_name }}
          </div>
          {% if connection.user2.bio %}
          <div>{{ connection.user2.bio }}</div>
          {% endif %}
        </div>
      </a>
      <div>
        <button
          class="secondary-button"
          type="button"
          style="border: none"
          data-toggle="modal"
          data-target="#deleteConnectionRequest_{{connection.user2.pk}}"
        >
          Withdraw
        </button>
        <div
          id="deleteConnectionRequest_{{connection.user2.pk}}"
          class="modal"
          role="dialog"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Withdraw Connection Request</h4>
              </div>
              <div class="modal-body">
                <div style="font-weight: normal">
                  Are you sure you want to withdraw connection request?
                </div>
                <form
                  method="POST"
                  style="float: right; margin-top: 4px; padding: 4px"
                  action="{% url 'withdraw_connection_request_view' connection.user2.pk %}"
                >
                  {% csrf_token %}
                  <button class="action-button" data-dismiss="modal">
                    Cancel
                  </button>
                  <button
                    style="border: none"
                    type="submit"
                    class="secondary-button"
                  >
                    Withdraw
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
  {% endblock %}
</div>
