{% extends 'base.html' %} {% load static %} {% block head %}
<title>Post Detail | LinkedIn Clone</title>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/header.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/post_detail.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/home/post_detail.css' %}"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
  rel="stylesheet"
/>
{% endblock %} {% block content %} {% include 'components/header.html' %}
<div class="main-body">
  <div class="results-body">
    <div class="post">
      <div class="post_header">
        <a
          href="{% url 'profile_view' post.user.username %}"
          style="align-self: center"
        >
          {% if post.user.picture %}
          <img src="{{ post.user.picture.url }}" />
          {% else %}<i class="material-icons sidebar_topAvatar">
            account_circle
          </i>
          {% endif %}
        </a>
        <div class="post_info">
          <a
            style="
              text-decoration: none;
              text-transform: none;
              color: rgba(0, 0, 0, 0.9);
            "
            href="{% url 'profile_view' post.user.username %}"
          >
            <div>{{ post.user.first_name }} {{ post.user.last_name }}</div>
            {% if post.user.headline and post.user.headline.strip %}
            <div class="headline">{{ post.user.headline }}</div>
            {% endif %}
          </a>
        </div>
        {% if post.user.username == request.user.username %}
        <div class="post-options">
          <button
            type="button"
            style="border: none; background: none"
            data-toggle="modal"
            data-target="#editPost_{{ post.pk }}"
          >
            <i class="material-icons sidebar_topAvatar"> edit </i>
          </button>
          <div id="editPost_{{ post.pk }}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Edit Post</h4>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>
                <div class="modal-body">
                  <form
                    method="POST"
                    enctype="multipart/form-data"
                    action="{% url 'post_edit_view' post.id %}"
                  >
                    {% csrf_token %}
                    <div class="form-group row">
                      <div class="col-sm-8">
                        <input
                          type="text"
                          name="text"
                          class="form-control form-control-sm"
                          placeholder="What do you want to talk about?"
                          maxlength="400"
                          value="{% if post.text %}{{post.text}}{% endif %}"
                          id="id_text"
                        />
                        <div class="invalid-feedback"></div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-8">
                        {% if post.media %}
                        <div style="padding-bottom: 8px">
                          <div>Current Media:<br /></div>
                          {% if post.media %}
                          <embed
                            style="
                              width: fit-content;
                              height: 100%;
                              max-width: 95%;
                            "
                            src="{{post.media.url}}"
                            type="{{post.file_type}}"
                          />{% endif %}
                          <input type="checkbox" name="remove_media" /> Remove
                          Media
                        </div>
                        {% endif %}
                        <input
                          type="file"
                          name="media"
                          accept="image/*,video/*"
                          id="id_image"
                        />
                        <div class="invalid-feedback"></div>
                      </div>
                    </div>

                    <div class="my-1">
                      <button class="btn btn-sm btn-primary">Update</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <button
            type="button"
            style="border: none; background: none"
            data-toggle="modal"
            data-target="#deletePost_{{ post.pk }}"
          >
            <i class="material-icons sidebar_topAvatar"> delete </i>
          </button>
          <div id="deletePost_{{post.pk}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="modal-title delete-title">Delete Post?</div>
                  <div class="delete-post-text">
                    Are you sure you want to permanently remove this post from
                    LinkedIn Clone?
                  </div>
                </div>
                <div class="modal-body">
                  <form
                    method="POST"
                    style="display: inline; float: right"
                    action="{% url 'post_delete_view' post.pk %}"
                  >
                    {% csrf_token %}

                    <a class="btn btn-sm btn-info" data-dismiss="modal"
                      >Cancel</a
                    >
                    <button
                      type="submit"
                      style="border: none; background: none"
                    >
                      Delete
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      {% if post.text %}
      <div class="post_body">
        <p style="max-width: 90%; overflow-wrap: anywhere">{{ post.text}}</p>
      </div>
      {% endif %} {% if post.media %} {% if post.file_type != 'others' %}
      <embed
        style="width: fit-content; height: 100%; max-width: 95%"
        src="{{post.media.url}}"
        type="{{post.file_type}}"
      />{% endif %} {% endif %}
      <div style="color: rgba(0, 0, 0, 0.6); margin-top: 4px">
        {{ post.likes_count|default:0 }} Likes &#8226; 
        {{ post.comments_count|default:0 }} Comments
      </div>
      <div class="feed_inputOptions">
        {% if is_post_liked %}
        <form
          class="inputOption"
          method="POST"
          action="{% url 'post_unlike_view' post.pk %}"
        >
          {% csrf_token %}
          <button>
            <i
              style="color: gray; transform: scale(-1, 1)"
              class="material-icons"
            >
              thumb_up
            </i>
            <h4>Like</h4>
          </button>
        </form>
        {% else %}
        <form
          class="inputOption"
          method="POST"
          action="{% url 'post_like_view' post.pk %}"
        >
          {% csrf_token %}
          <button>
            <i
              style="color: gray; transform: scale(-1, 1)"
              class="material-icons-outlined"
            >
              thumb_up
            </i>
            <h4>Like</h4>
          </button>
        </form>
        {% endif %}
        <div class="inputOption">
          <button>
            <i style="color: gray" class="material-icons-outlined">
              mode_comment
            </i>
            <h4>Comment</h4>
          </button>
        </div>
        <div class="inputOption">
          <button>
            <i style="color: gray" class="material-icons-outlined">
              shortcut
            </i>
            <h4>Share</h4>
          </button>
        </div>
        <div class="inputOption">
          <button>
            <i
              style="color: gray; transform: rotate(-45deg)"
              class="material-icons"
            >
              send
            </i>
            <h4>Send</h4>
          </button>
        </div>
      </div>
      <form
        class="form-inline justify-content-between"
        action="{% url 'post_comment_view' post.id %}"
        method="POST"
        style="
          border: 1px solid rgba(0, 0, 0, 0.6);
          margin: 8px 4px;
          padding: 4px;
        "
      >
        {% csrf_token %}
        <textarea
          name="comment_text"
          placeholder="Post Comment..."
          style="outline: none; border: none"
          maxlength="140"
        ></textarea>
        <button type="submit" class="btn btn-sm text-primary font-weight-bold">
          Comment
        </button>
      </form>
      {% for comment in comments %} {% if comment.user == user %}
      <button
        type="button"
        style="
          border: none;
          background: transparent;
          float: right;
          position: relative;
          top: 35px;
          right: 8px;
        "
        data-toggle="modal"
        data-target="#deleteComment_{{ comment.pk }}"
      >
        <i class="material-icons sidebar_topAvatar"> delete </i>
      </button>
      <div id="deleteComment_{{comment.pk}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <div class="modal-title delete-title">Delete Post?</div>
              <div class="delete-post-text">
                Are you sure you want to delete this comment from post?
              </div>
            </div>
            <div class="modal-body">
              <form
                method="POST"
                style="display: inline; float: right"
                action="{% url 'comment_delete_view' comment.pk %}"
              >
                {% csrf_token %}

                <a class="btn btn-sm btn-info" data-dismiss="modal">Cancel</a>
                <button type="submit" style="border: none; background: none">
                  Delete
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div
        style="
          display: flex;
          flex-direction: row;
          padding: 4px 16px;
          background: rgba(0, 0, 0, 0.1);
          width: 100%;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-bottom: none;
        "
      >
        <a
          href="{% url 'profile_view' comment.user.username %}"
          style="align-self: center"
        >
          {% if comment.user.picture %}
          <img
            style="height: 40px; width: 38px; border-radius: 50% !important"
            src="{{ comment.user.picture.url }}"
          />
          {% else %}<i
            style="
              text-decoration: none;
              text-transform: none;
              color: rgba(0, 0, 0, 0.9);
              font-size: 40px;
              border-radius: 50% !important;
            "
            class="material-icons sidebar_topAvatar"
          >
            account_circle
          </i>
          {% endif %}
        </a>
        <div style="margin-left: 8px">
          <div>{{ comment.user.username }}</div>
          <div>{{ comment.user.bio }}</div>
        </div>
      </div>
      <div
        style="
          padding: 4px 16px;
          background: rgba(0, 0, 0, 0.1);
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-top: none;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
        "
      >
        {{ comment.text }}
      </div>
      <button
        onclick="handleReply({{comment.id}})"
        style="
          margin-top: 4px;
          background: none;
          border: none;
          color: rgba(0, 0, 0, 0.6);
        "
      >
        Reply
      </button>

      <div id="reply-form-{{comment.id}}" style="display: none">
        <form
          method="post"
          action="{% url 'reply_comment_view' comment.id %}"
          class="mt-3"
        >
          {% csrf_token %}
          <textarea
            name="comment_text"
            placeholder="Post Comment..."
            style="outline: none; border: none"
            maxlength="140"
          ></textarea>
          <div>
            <button
              type="button"
              onclick="handleCancel({{comment.id}})"
              class="btn btn-light border btn-sm"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
          </div>
        </form>
      </div>
      {% if comment.get_comments %} 
      {% for reply_comment in comment.get_comments %} 
      {% include 'components/comment.html' %} 
      {% endfor %} {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="linkedin-ad">
    <div class="ad-text">Get your Ad here.</div>
  </div>
</div>

{% endblock %} {% block extra_body %}
<script>
  function handleReply(response_id) {
    const reply_form = document.querySelector(`#reply-form-${response_id}`);
    if (reply_form) {
      reply_form.style.display = "block";
    }
  }
  function handleCancel(response_id) {
    const reply_form = document.querySelector(`#reply-form-${response_id}`);
    if (reply_form) {
      reply_form.style.display = "none";
    }
  }
</script>
{% endblock %}
