{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/header.css' %}"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/home/network.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/home/view_all_connections.css' %}"
/>
<title>Feed | LinkedIn Clone</title>
{% endblock %} {% block content %} {% include 'components/header.html' %}
<div class="flex-row">
  <div class="connections-body">
    {% if connections.count == 0 %}
    <div class="no-requests-message">No connections yet.</div>
    {% else %}
    <div class="requests-message">{{ connections|length }} connections.</div>
    {% for user in connections %}
    <div class="user-row">
      <a
        href="{% url 'profile_view' user.username %}"
        class="text-decoration-none user-data"
      >
        {% if user.picture %}
        <img src="/media/{{ user.picture }}" class="profile_pic" />
        {% else %}
        <img
          src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"
          class="profile_pic"
        />
        {% endif %}

        <div class="user-name">
          <div>{{ user.first_name }} {{ user.last_name }}</div>
          {% if user.bio %}
          <div>{{ user.bio }}</div>
          {% endif %}
        </div>
        <div class="secondary-action-button">Message</div>
      </a>
    </div>
    <div class="horizontal-line"></div>
    {% endfor %} {% endif %}
  </div>
  <div class="linkedin-ad">
    <div class="ad-text">Get your Ad here.</div>
  </div>
</div>
{% endblock %}
